
/codes/basic2/basic2_06/.vs
/codes/basic2/basic2_06/bin
/codes/basic2/basic2_06/obj
/codes/basic2/basic2_06/log
/codes/basic2/.vs
/codes/basic2/basic2_01/obj
/codes/basic2/basic2_02/obj
/codes/basic2/basic2_03/obj
/codes/basic2/basic2_04/obj
/codes/basic2/basic2_05/obj
